schema: kata.ai/schema/merapi/1.0

plugins:
    - loggly
    - service

merapi:
    logging:
        level: info

        loggly:
            level: debug
            buffer:
                length: 50
                timeout: 5000
            config:
                subdomain: lumochift
                token: cfb7dfca-0f8f-4d88-b0ac-5c98adbba254
            customTags:
                - merapiExample
                - experiment
            consoleOnly: true
            os:
                interval: 5000
                cpu: false
                mem: true
                loadavg: true
                uptime: false

name: lutfi
greeting: Hello

components:
    firstComponent: FirstComponent

main: firstComponent

